div button {
    margin-top: 20px;
    margin-right: 50px;
    width: 8%;
    height: 2.8em;
    float: right;

    border:0.1em solid transparent;
    border-radius: 6px;
    background-color: #D0963E;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
    color: #000;
    cursor: pointer;
}

div button:hover {
    background-color: #9e702b;
    color: #fff;
}

.posts {
    user-select: none;
    padding-top: calc(3em + 40px);
    font-family: 'Roboto', sans-serif;
}

.post {
    cursor: pointer;
    padding: 2em 2%;
    background-color: #C4C4C4;
    margin: auto;
    width: 90%;
}

.post-author {
    font-size: 25px;
    font-weight: 100;
}

.post-title {
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 35px;
}

.post-tags {
    display: inline;
    padding: 0;
    padding-left: 2%;
}

.post-tags div {
    top: 50%;
    transform: translateY(-18%);
    padding: 3px 0;
    margin: auto;
    display: inline-block;
    background-color: #fff;
    border-radius: 6px;
    font-size: 15px;
}

.post-tags div span {
    font-weight: 400;
    margin: 0.5em;
}

.post-header .comments {
    padding-top: 15px;
}

.comments span {
    padding-left: 8px;
    font-family: 'Alata', sans-serif;
}