div p {
    

position: relative;
left: 500px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
display: flex;
align-items: center;
text-align: center;

color: #000000;


}